```css
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#000;

font-family:Arial, Helvetica, sans-serif;

min-height:100vh;

display:flex;

flex-direction:column;

align-items:center;

padding:20px;

}

/* BOTON VOLVER */

.btn-volver{

position:fixed;

top:20px;

left:20px;

padding:15px 25px;

background:rgba(5,10,20,.85);

border:1px solid rgba(0,170,255,.4);

border-radius:20px;

color:white;

text-decoration:none;

font-size:18px;

box-shadow:
0 0 20px rgba(0,170,255,.25);

transition:.3s;

}

.btn-volver:hover{

transform:translateY(-3px);

box-shadow:
0 0 30px rgba(0,170,255,.5);

}

/* HERO */

.hero-productos{

width:100%;

display:flex;

justify-content:center;

margin-top:30px;

}

.hero-img{

width:100%;

display:block;

border-radius:25px;

}

/* CONTENEDOR */

.hero-productos{

position:relative;

max-width:1024px;

margin:auto;

}

.hero-wrapper{

position:relative;

width:100%;

max-width:1100px;

}


/* BOTONES DE CATEGORIAS */

.btn-categoria{

position:absolute;
display:block;

border-radius:30px;

cursor:pointer;

background:transparent;

opacity:1;

transition:.4s;

animation:respirar 3s infinite;

z-index:20;

}



/* HERO V3 - BOTONES VERTICALES */

.btn-aceites{
left:4%;
top:29%;
width:92%;
height:9.5%;
}

.btn-filtros{
left:4%;
top:39%;
width:92%;
height:9.5%;
}

.btn-fluidos{
left:4%;
top:49%;
width:92%;
height:9.5%;
}

.btn-anticongelantes{
left:4%;
top:59.5%;
width:92%;
height:9.5%;
}

.btn-grasas{
left:4%;
top:69%;
width:92%;
height:9.5%;
}

.btn-granel{
left:4%;
top:79.5%;
width:92%;
height:9.5%;
}




/* EFECTO BASE */



.btn-categoria:hover{

transform:
translateY(-6px)
scale(1.015);

box-shadow:
0 0 25px #00d4ff,
0 0 50px rgba(0,212,255,.95),
0 0 90px rgba(0,212,255,.70),
0 0 130px rgba(0,212,255,.45),
inset 0 0 18px rgba(0,212,255,.55);

}

@keyframes respirar{

0%{

box-shadow:
0 0 10px rgba(0,180,255,.45),
0 0 25px rgba(0,180,255,.30),
inset 0 0 8px rgba(0,180,255,.20);

}

50%{

box-shadow:
0 0 18px rgba(0,200,255,.95),
0 0 45px rgba(0,200,255,.80),
0 0 80px rgba(0,200,255,.50),
inset 0 0 14px rgba(0,200,255,.45);

}

100%{

box-shadow:
0 0 10px rgba(0,180,255,.45),
0 0 25px rgba(0,180,255,.30),
inset 0 0 8px rgba(0,180,255,.20);

}

}


