```css
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#000;

font-family:Arial, Helvetica, sans-serif;

min-height:100vh;

display:flex;

flex-direction:column;

align-items:center;

padding:20px;

}

/* BOTON VOLVER */

.btn-volver{

position:fixed;

top:20px;

left:20px;

padding:15px 25px;

background:rgba(5,10,20,.85);

border:1px solid rgba(0,170,255,.4);

border-radius:20px;

color:white;

text-decoration:none;

font-size:18px;

box-shadow:
0 0 20px rgba(0,170,255,.25);

transition:.3s;

}

.btn-volver:hover{

transform:translateY(-3px);

box-shadow:
0 0 30px rgba(0,170,255,.5);

}

/* HERO */

.hero-productos{

width:100%;

display:flex;

justify-content:center;

margin-top:30px;

}

.hero-img{

width:100%;

display:block;

border-radius:25px;

}

/* CONTENEDOR */

.hero-productos{

position:relative;

max-width:1024px;

margin:auto;

}

.hero-wrapper{

position:relative;

width:100%;

max-width:1100px;

}


/* BOTONES DE CATEGORIAS */

.btn-categoria{

position:absolute;
display:block;

border-radius:25px;

cursor:pointer;

transition:.4s;

z-index:20;

}



/* HERO V3 - BOTONES VERTICALES */

.btn-aceites{
left:4%;
top:29%;
width:92%;
height:9.5%;
}

.btn-filtros{
left:5%;
top:39%;
width:90%;
height:9.5%;
}

.btn-fluidos{
left:5%;
top:49%;
width:90%;
height:9.5%;
}

.btn-anticongelantes{
left:5%;
top:59.5%;
width:90%;
height:9.5%;
}

.btn-grasas{
left:5%;
top:69%;
width:90%;
height:9.5%;
}

.btn-granel{
left:5%;
top:79.5%;
width:90%;
height:9.5%;
}



.btn-categoria{

background:transparent;

opacity:1;

}


/* EFECTO BASE */

.btn-categoria{

position:absolute;

display:block;

border-radius:30px;

cursor:pointer;

transition:.4s;

animation:respirar 3s infinite;

}

.btn-categoria:hover{

transform:translateY(-8px);

box-shadow:

0 0 15px #00a2ff,
0 0 35px rgba(0,162,255,.7),
0 0 60px rgba(0,162,255,.4);

}

@keyframes respirar{

0%{

box-shadow:
0 0 10px rgba(0,162,255,.15);

}

50%{

box-shadow:
0 0 25px rgba(0,162,255,.5);

}

100%{

box-shadow:
0 0 10px rgba(0,162,255,.15);

}

}

.btn-categoria:hover{

transform:

translateY(-8px)
scale(1.02);

}

