.hero-btn{
position:relative;
overflow:hidden;
cursor:pointer;
}

.hero-btn::before{

content:"";

position:absolute;

top:0;
left:-100%;

width:60%;
height:100%;

background:
linear-gradient(
90deg,
transparent,
rgba(255,255,255,.25),
transparent
);

transition:1s;

}

.hero-btn:hover::before{

left:140%;

}



.hero-btn{

animation:pulseButton 4s infinite;

}

@keyframes pulseButton{

0%,100%{

transform:scale(1);

}

50%{

transform:scale(1.02);

}

}



.hero-btn{

animation:pulseHero 4s infinite;

overflow:hidden;

box-shadow:
0 0 15px rgba(0,170,255,.2);

}

.hero-btn:hover{

transform:translateY(-8px);

box-shadow:

0 0 20px #00aaff,
0 0 40px #00aaff,
0 0 70px rgba(0,170,255,.5);

}

.hero-btn::before{

content:"";

position:absolute;

top:0;
left:-100%;

width:60%;
height:100%;

background:

linear-gradient(
90deg,
transparent,
rgba(255,255,255,.3),
transparent
);

transition:1s;

}

.hero-btn:hover::before{

left:140%;

}

@keyframes pulseHero{

0%,100%{

transform:scale(1);

}

50%{

transform:scale(1.02);

}

}